<br />
<br />
<div class="home-container">
    <header class="header">
        <h1>Welcome to Dog Gallery 🐶</h1>
        <p>Explore adorable dog images from around the world! 🌎</p>
        <p>Whether you're a dog lover or just here for some cuteness overload, we've got you covered. 🐾</p>
        <p>Browse through different breeds 🐕, discover fun facts 🧠, and enjoy endless puppy love! 💖</p>
        <p>Get ready to smile with every click! 😁</p>
        <button routerLink="/api-data" class="explore-button">Explore Now 🐾</button>

    </header>
</div>
<router-outlet></router-outlet>