/* General Body and Form Container */
body {
  background-color: #1d1d1d;  /* Dark Grey Background */
  font-family: 'monospace', sans-serif;
}

.form-container {
  background-color: #171818;  /* Darker grey container */
  color: #fff;
  max-width: 750px;
  margin: 50px auto;
  padding: 70px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  animation: fadeIn 1s ease-in-out; /* Fade-in animation */
}

.form-content {
  opacity: 0;
  animation: fadeIn 1s forwards; /* Form Fade-in */
}

/* Heading Style */
h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
  color: #ecf0f1;  /* Light grey for headings */
}

/* Form Group and Input Styles */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #bdc3c7;  /* Light grey labels */
}

input, textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #282a2d;  /* Dark grey border */
  background-color: #282a2d;  /* Darker background for inputs */
  color: #ecf0f1;  /* Light grey text */
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #1e8ab2;  /* Dark Sky Blue border on focus */
  outline: none;
  box-shadow: 0 0 5px #1e8ab2;  /* Dark Sky Blue focus shadow */
}

/* Error Handling */
.error {
  color: #e74c3c;  /* Red for error messages */
  font-size: 14px;
  margin-top: 5px;
}

/* Button Styles */
.submit-btn {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #591520;  /* Dark Red background for button */
  border: none;
  border-radius: 6px;
  color: #fff;  /* White text */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:disabled {
  background-color: #535454;  /* Disabled state */
}

.submit-btn:hover:not(:disabled) {
  background-color: #0b4f6a;  /* Darker Red when hovered */
  transform: scale(1.05);  /* Button hover animation */
}

/* Success Message */
.success-message {
  margin-top: 30px;
  padding: 15px;
  background-color: #288947;  /* Dark Sky Blue background for success message */
  color: white;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  animation: fadeIn 1s ease-in-out;
}

.success-message p {
  margin: 0;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
